html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

#nav-bar{
background-color: dimgray;


}
#TNM{
  width: 60%;
}
#ISC{
  width: 30%;
}
#TEC{
  width: 30%;
  right: 0px;
}

.row{

 background: teal;
}

.formulario{
  padding-top: 10%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
 
  margin: 0 auto;
 
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
